<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration</title>

    <%- include("./partials/bootstrap.ejs") %>
  </head>

  <body>
    <div class="container w-50 border rounded shadow mt-5 text-center">
      <h2>Create a new User</h2>

      <div>
        <% for (msg of message) { %>
        <div class="alert alert-info alert-dismissible py-1" role="alert"><%= msg %></div>
        <% } %>
      </div>

      <form action="/users/create" method="POST">
        <label class="form-label" for="firstName">First name: </label>
        <input class="form-control" type="text" name="firstName" id="" value="<%=firstName ? firstName : '' %>" />

        <label class="form-label" for="lastName">Last name: </label>
        <input class="form-control" type="text" name="lastName" id="" value="<%=lastName ? lastName : '' %>" />

        <label class="form-label" for="email">Email: </label>
        <input class="form-control" type="email" name="email" id="" value="<%=email ? email : '' %>" />

        <label class="form-label" for="password">password: </label>
        <input class="form-control" type="password" name="password" id="" value="<%=password ? password : '' %>" />

        <label for="password2">Re-type password: </label>
        <input class="form-control" type="password" name="password2" id="" value="<%=password2 ? password2 : '' %>" />

        <button class="btn btn-primary w-100 my-3">Submit</button>
      </form>
    </div>
  </body>
</html>
